<a style="float: right;" href="/logout" class="button tiny">Logout</a>
<div class="text-center">
    <h2>Welcome Back</h2>
</div>
<button class="dropdown button large expanded" id="navButton" data-toggle="menu-dropdown">Week</button>
<div class="dropdown-pane grid-container full" data-dropdown data-auto-focus="true" id="menu-dropdown"
    style="width: 100%;">
    <div class="cell" id="buttonGroup" style="margin-left: auto; margin-right: auto;">
        <button type="button" class="button large small-only-expanded primary day" id="mondayButton"
            value="1">Monday</button>
        <button type="button" class="button large small-only-expanded primary day" id="tuesdayButton"
            value="2">Tuesday</button>
        <button type="button" class="button large small-only-expanded primary day" id="wednesdayButton"
            value="3">Wednesday</button>
        <button type="button" class="button large small-only-expanded primary day" id="thursdayButton"
            value="4">Thursday</button>
        <button type="button" class="button large small-only-expanded primary day" id="fridayButton"
            value="5">Friday</button>
        <button type="button" class="button large small-only-expanded primary day" id="saturdayButton"
            value="6">Saturday</button>
        <button type="button" class="button large small-only-expanded primary day" id="sundayButton"
            value="7">Sunday</button>
    </div>
</div>

<!-- End Button Header -->

<!-- Start of Main Forms -->

<!-- Left Form -->
<div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x grid-padding-x grid-padding-y-small cell">
        <div class="cell small-6 small-cell-block-y">
            <div class="card" style="width: 45vw;" id="menuBox">
                <h4 class="sectionHead">Today's Menu</h4>
                <hr>
                <div class="card-section">
                    <ul id="todaysMenuSection">
                        {{#each meals}}
                        <li>
                            <p class="recipeName"><strong>Meal: {{name this}}</strong></p>
                            <ul>
                                {{#each Ingredients}}
                                <li>
                                    {{name this}}
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}

                    </ul>
                </div>
                <a class="button" href="/groceryList">Generate Grocery List</a>
            </div>
        </div>
        <!-- End of left form -->

        <!-- Start of Right form -->
        <div class="cell small-6 small-cell-block-y">
            <div class="card" style="width: 45vw;" id="itemBox">
                <h4 class="sectionHead">Add Item</h4>
                <hr>
                <!-- menu item form -->
                <form id="addMenuItemForm" method="POST" action="/api/meals">
                    <label>Select Weekday:
                        <select id="weekdaySelect">
                            <option value="1">Monday</option>
                            <option value="2">Tuesday</option>
                            <option value="3">Wednesday</option>
                            <option value="4">Thursday</option>
                            <option value="5">Friday</option>
                            <option value="6">Saturday</option>
                            <option value="7">Sunday</option>
                        </select>
                    </label>
                    <div class="card-section" id="ingredientsList">

                        <label>Menu Item:
                            <input type="text" id="newMenuItem">
                        </label>

                        <!-- add ingredient form -->
                        <div class="cell ingredientForm">
                            <label id="addIngredients">Add Ingredients:
                                <input type="text" name="newIngredient">
                                <input type="text" name="newIngredient">
                            </label>

                        </div>
                        <div class="cell" id="ingredientsButtonDiv">
                            <a class="button tiny" id="moreIngredientsButton">More Ingredients</a>
                            <button type="button" class="button" id="addMenuItemButton">Add Menu Item</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end of right form -->

    <!-- End of Main Forms -->
</div>