
    <div class="grid-container">
        <div class="card">
            <h3>Your Grocery List</h3>
            <div class="card-section">
                {{!-- GROCERY LIST GENERATED HERE --}}
                {{#each ingredients}}
                <div>{{{name this}}}</div>
                {{/each}}
            </div>
        </div>
    </div>
