<div class="grid-container">
    <div class="card">
        <h3>Your Grocery List</h3>
        <div class="card-section">
            {{!-- GROCERY LIST GENERATED HERE --}}
            <ul>
                {{#each meals}}
                <li>{{{name this}}}
                    <ul>
                        {{#each Ingredients}}
                        <li>{{{name this}}}</li>
                        {{/each}}
                    </ul>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>