<div class="grid-container">
    <a href="/dashboard" class="button small">Back to Dashboard</a>
    <a href="javascript:window.print()" class="float-right button success tiny">Print This Page</a>
    <div class="card">
        <h3 style="margin: 1rem;">This Week's Grocery List</h3>
        <div class="card-section">
            {{!-- GROCERY LIST GENERATED HERE --}}
            <ul>
                {{#each meals}}
                <li>{{{name this}}}
                    <ul>
                        {{#each Ingredients}}
                        <li>{{{name this}}}</li>
                        {{/each}}
                    </ul>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>