
    <div class="grid-container" id="logInField">
        <div class="card">
            <h3>Your Grocery List</h3>
            <div class="card-section">
                {{!-- GROCERY LIST GENERATED HERE --}}
            </div>
        </div>
    </div>



    <script src="./public/js/vendor/jquery.js"></script>
    <script src="./public/js/vendor/what-input.js"></script>
    <script src="./public/js/vendor/foundation.js"></script>
    <script src="./public/js/logIn.js"></script>
