<div class="row">
        <h1>Welcome To Meals By Design</h1><hr>
        <h3>A quick and convenient place to plan your weekly meals and grocery list.</h3>
  </div>
  
  <div class="row" id="mainBody">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sunt nesciunt fugiat et delectus dolores totam? Quaerat repudiandae quia animi repellat id, temporibus expedita fugiat labore, ipsam qui saepe officiis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente maxime nostrum odio hic, quasi ut, beatae magni, commodi enim tenetur unde non aliquam blanditiis harum placeat id et molestiae repellat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis optio voluptatibus cupiditate sapiente rem aut distinctio in quisquam beatae eum corrupti, et molestias! Natus nostrum quae atque pariatur ea corporis.</p>
  </div>
  <div class="row" id="navButtons">
      <a class="button primary" href="/login">Existing User</a>
      <a class="button primary" href="/signUp">Create Account</a>
</div>



  {{!-- <script src="./public/js/vendor/jquery.js"></script>
  <script src="./public/js/vendor/what-input.js"></script>
  <script src="./public/js/vendor/foundation.js"></script>
  <script src="./public/js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> --}}