<div><button class="large" href="/">Home</button></div>
<div class="grid-container" id="logInField">
    <div class="card">
        <h3 class="text-center">Login</h3><hr>
        <div class="card-section">
            <form id="loginForm" action="/login" method="POST">
                <div class="medium-6 cell">
                    <label>Email:
                        <input type="email" name="email" id="existingEmail" placeholder="Email">
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>Password:
                        <input type="password" name="password" id="existingPassword" placeholder="Password">
                    </label>
                </div>
                <div class="grid-x">
                    <div class="cell">
                        <button class="button primary" id="loginButton">Login!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- <script src="/js/login_signup.js"></script> --}}