  <link rel="stylesheet" href="/css/login.css">

<div class="grid-container" id="logInField">
    <div class="card">
        <h3>Login</h3>
        <div class="card-section">
            <form id="logInBars" id="loginForm" method="POST" action="/api/login">
                <div class="medium-6 cell">
                    <label>Email:
                        <input type="email" name="email" id="existingEmail" placeholder="Email">
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>Password:
                        <input type="password" name="password" id="existingPassword" placeholder="Password">
                    </label>
                </div>
                <div class="grid-x">
                    <div class="cell">
                        <button class="button primary" id="loginButton">Login!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/logIn-signUp.js"></script>