<div class="grid-container" id="logInField">
        <div class="card">
                <h3>Login</h3>
            <div class="card-section">
                <form id="logInBars">
                    <div class="medium-6 cell">
                        <label id="existingEmail">Email:
                            <input type="text" placeholder="Email">
                        </label>
                    </div>
                    <div class="medium-6 cell">
                        <label id="existingPassword">Password:
                            <input type="password" placeholder="Password">
                        </label>
                    </div>
                </form>
                <div class="grid-x">
                    <div class="cell">
                        <a class="button primary" id="loginButton" href="/views/dashboard.handlebars">Login!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="./public/js/vendor/jquery.js"></script>
    <script src="./public/js/vendor/what-input.js"></script>
    <script src="./public/js/vendor/foundation.js"></script>
    <script src="./public/js/logIn.js"></script>