<div><a href="/index">Home</a></div>
<div class="grid-container" id="logInField">
    <div class="card">
        <h3>Sign Up</h3>
        <div class="card-section">
            <form id="signUpForm">
                <div class="medium-6 cell">
                    <label>First Name:
                        <input name="firstName" type="text" placeholder="First Name" id="newFirstName">
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>Last Name:
                        <input name="lastName" type="text" placeholder="Last Name" id="newLastName">
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>Enter Email:
                        <input name="email" type="email" placeholder="Email" id="newEmail">
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>Password:
                        <input name="password" type="password" placeholder="Password" id="newPassword">
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>Confirm Password:
                        <input name="passwordConfirm" type="password" placeholder="Confirm Password" id="newPasswordConfirm">
                    </label>
                </div>
                <div class="grid-x">
                    <div class="cell">
                        <button class="button primary" id="signupButton">Sign Up!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
  
<script src="/js/logIn-signUp.js"></script>