<div class="grid-container" id="logInField">
        <div class="card">
                <h3>Sign Up</h3>
            <div class="card-section">
                <form id="logInBars">
                    <div class="medium-6 cell">
                        <label>First Name:
                            <input type="text" placeholder="First Name" id="newFirstName">
                        </label>
                    </div>
                    <div class="medium-6 cell">
                        <label>Last Name:
                            <input type="text" placeholder="Last Name"  id="newLastName">
                        </label>
                    </div>
                    <div class="medium-6 cell">
                            <label>Enter Email:
                                <input type="text" placeholder="Email" id="newEmail"> 
                            </label>
                        </div>
                    <div class="medium-6 cell">
                        <label>Password:
                            <input type="password" placeholder="Password"  id="newPassword">
                        </label>
                    </div>
                    <div class="medium-6 cell">
                        <label>Confirm Password:
                            <input type="password" placeholder="Confirm Password"  id="newPasswordConfirm">
                        </label>
                    </div>
                </form>
                <div class="grid-x">
                    <div class="cell">
                        <a class="button primary" id="signupButton" href="/dashboard">Sign Up!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {{!-- <script src="./public/js/vendor/jquery.js"></script>
    <script src="./public/js/vendor/what-input.js"></script>
    <script src="./public/js/vendor/foundation.js"></script>
    <script src="./public/js/logIn.js"></script> --}}