body{
    background-image: url(../assets/images/kitchenbackdrop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#buttonGroup{
    text-align: center;
    width: 90vw;
}
.primary{
    border-radius: 5%;
}
.card{
    height: 80vh;
    background-image: url(../assets/images/notebook2.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}
.card-divider{
    opacity: 0.1;
}
.ingredientForm{
    width: 40vw;
    padding-left: 15vw;
}
#moreIngredientsButton{
    float: right;
}
.dropdown-pane {
    background-image: url(../assets/images/nadine-primeau--bLkT8wGV0I-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 39.9375em) {
    .button.small-only-expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; 
    } 
    .dropdown-pane {
        padding: 0%;
    }
    .day {
        border-radius: 0;
        margin-bottom: 1vh;
    }
}
