*{
    font-family: Kalma !important;
  }
body{
    background-image: url(../assets/images/kitchenbackdrop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#buttonGroup{
    text-align: center;
    width: 90vw;
}
.primary{
    border-radius: 5%;
}
#addMenuItemButton{
    background-color: blue;
}
#todaysMenuSection{
    text-transform: capitalize;
}
.card{
    height: 80vh;
    background-color: rgb(107, 181, 250);
    opacity: 0.8;
}
.sectionHead{
    text-align: center;
    padding-top: 2vh;
}
.ingredientForm{
    width: 40vw;
    padding-left: 15vw;
}
#moreIngredientsButton{
    float: right;
}

