*{
  font-family: 'Montserrat', sans-serif;
  }
  body{
    background-image: url(../assets/images/kitchenbackdrop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1{
    margin-top: 5vh;
  }
  h1, h3{
    text-align: center;
  }

  #navButtons{
    text-align: center;
  }
  #mainBody{
    margin: auto 10vw;
  }
  