*{
  font-family: Kalma !important;
}
body{
  background-image: url(../assets/images/kitchenbackdrop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card{
  align-content: center;
  text-align: center;
}

.formHead{
  text-align: center;
}
.card{
  height: 50vh;
  width: 50vw;
  margin: 0 20vw;
  background-color: rgb(107, 181, 250);
  opacity: 0.7;
}
#logInField{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column-reverse ;
}
/* #logInField{
  text-align: center;
  margin-top: 15vh;
} */